# Line endings
# ============

# Default
# -------
#
# Use `lf` line endings independent of platform. This simplifies working on
# shared filesystems. E.g. WSL Linux on Windows host.
#
# Let Git decide if a file is text or binary but use `lf` in workspace.
# This allows for `safeclrf` check to prevent accidental `crlf` commits, which
# would not be the case with `-text`.
#
# Specifying the `text` attribute also avoids fallback to 'core.autocrlf'
# git config setting, which is not shared and therefore fragile.
#
# Ensure following git config settings.
#
# ```
# [core]
#	autocrlf = false
#	safecrlf = true
# ```
#
# Override folder where this default does not fit by local `.gitattributes`

* text=auto eol=lf

# Files to always disable enable end-of-line conversion
# -----------------------------------------------------
# `<path> -text`

# Files to always enable end-of-line normalization
# ------------------------------------------------
# `<path> text`

# Files that will always have LF line endings on checkout
# -------------------------------------------------------
# `<path> text eol=lf`

# Files that will always have CRLF line endings on checkout
# ---------------------------------------------------------
# `<path> text eol=crlf`

# Files that are truly binary and should not be modified
# ------------------------------------------------------
# `<path> binary`
